* {
    font-family: Helvetica;
}

h1 {
    background-image: url('../images/pattern.jpeg');
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;
}

.brushes {
    background-color: mediumseagreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.section h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#price {
    color: blue;
    font-weight: bold;
}